---
layout: page
title: Reviews
comments: yes
permalink: /reviews/
---

<a href="/2023/10/02/top10.html"><img src="https://boardgamegeek.com/jswidget.php?username=Ichthydion&numitems=10&header=1&text=title&images=medium&show=top10&imagesonly=1&imagepos=center&inline=1&domains%5B%5D=boardgame&imagewidget=1" border="0"/></a>


<div class="home">

  <ul class="post-list">
    
    {% for post in site.posts %}
    {% if post.tags contains 'review' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% include subtitle.html post=post %}
          </a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

