{% if page.comments %}
<hr>

{% if page.issue %}

  For feedback, see <a href="https://github.com/jericson/jericson.github.io/issues/{{ page.issue }}">this GitHub issue</a>.

{% else %}

  Send feedback by <a href="https://github.com/jericson/jericson.github.io/issues/new?title=Re:%20{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %}&labels=comments&body=%0A%0A---%0A(Please%20use%20this%20issue%20for%20[comments]({{ site.url }}/comment.html)%20on%20[{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %}]({{ site.url }}{{ page.url }}).)">
creating a GitHub issue</a>.
{% endif %}

{% endif %}
